*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: #06275A;
    color: #E4DFD7;
}


#card{
    background-color: #041E3F;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 100px;
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0 auto;
    height: 0 auto;
}


#cardImg img{
    width: 420px;
    height: auto;
    margin: 25px;
    margin-left: 40px;
    border-radius: 15px;
}

#cardForm{
    width: 500px;
    height: auto;
    margin: 0 auto;
    margin-left: 100px;
    padding: 30px;
    flex-direction: column;
}

#cardForm table{
    max-width: 100%;
    width: auto;
    margin: 0 auto;
}

#firstName{
    width: 230px;
    max-width: 100%;
}
#lastName{
    width: 230px;
    max-width: 100%;
}
#email{
    width: 483px;
    max-width: 100%;
}
#password{
    width: 483px;
    max-width: 100%;
}

#termEcondicions {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    vertical-align: middle;
}

/*
#pTerEcondicions{
    display: flex;
    text-align: start;
}
Estou tentando alinhar o formulário
*/

#cardForm img{
    width: 200px;
    height: auto;
}
